<include file="Public:header" />
</head>
<body>
<include file="Public:logo" />
<div class="container-fluid">  
		<div class="row bg-info" align="center">
			<h3>
				<span style="color: red" class="glyphicon glyphicon-cog"
					aria-hidden="true"></span> <strong>管 理 平 台</strong>
			</h3>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<ol>
					<li><strong><a href="__MODULE__/Admin/users"><span class="glyphicon glyphicon-user text-primary" aria-hidden="true"></span> 用户管理</a></strong></li>
					<li><strong><a href="__MODULE__/Admin/sitemap"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> 更新sitemap</a></strong></li>
					<li><strong><a href="__MODULE__/Admin/deleteModel"><span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span> 删除模型</a></strong></li>
					<li><strong><a href="__MODULE__/Admin/diy?id=1"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 管理DIY</a></strong></li>
					<li><strong><a href="__MODULE__/Admin/addArticle"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加文章</a></strong></li>					
					<volist name="articles" id="vo">
					<li>
					<strong>
					<a href="__MODULE__/Help/article?id={$vo.id}"><span class="glyphicon glyphicon-duplicate text-primary" aria-hidden="true"></span> {$vo.title}</a>
					</strong>----
					<a href="__MODULE__/Admin/editArticle?id={$vo.id}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 编辑</a> | 
					<a href="__MODULE__/Admin/deleteArticle?id={$vo.id}"><span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span> 删除</a>
					</li>
					</volist>
				</ol>
			</div>
		</div>		
 </div>
 <include file="Public:footer" />
<include file="Public:foot" />