
<div class="form-group">
	<label for="cate_name">分类名称：</label> 
	<input name="cate_name" type="text" class="form-control"
				id="cate_name" size="35" maxlength="50"
				value="{$onecategory.cate_name}" />
</div>
<div class="checkbox">
    <label>
      <input name="cate_isbest"	type="checkbox" id="cate_isbest" value="1" class="checkbox"/> 设为推荐
    </label>
</div>
<div class="form-group">
	<label for="cate_keywords">关 键 词：</label> 
	<input name="cate_keywords" type="text" class="form-control"
				id="cate_keywords" placeholder="多个关键词之间用“逗号”隔开" value='{$onecategory.cate_keywords}' />
</div>
<div class="form-group">
	<label for="cate_description">分类描述：</label> 
	<textarea name="cate_description" rows="5" class="form-control" id="cate_description">{$onecategory.cate_description}</textarea>
</div>
<div class="form-group">
	<label for="cate_order">排列顺序：</label> 
	<input name="cate_order" type="text" class="form-control"
				id="cate_order"	value='{$onecategory.cate_order}' />
</div>
<input name="cate_id" id="cate_id" value="{$onecategory.cate_id}" type="hidden" /> 
<input type="submit" class="btn btn-primary" value="保 存" /> 
<input type="reset" class="btn btn-warning" value="重 置" />
<a class="btn btn-default" href="__URL__/lists" role="button"> 分类列表</a>
</form>
<script>
	$(document).ready(function() {
		$("#category_form").validate({
			rules : {
				cate_name : {
					required : true,
					maxlength : 50,
				},
				cate_keywords : {
					required : true,
					maxlength : 50
				},
				cate_description : {
					required : true,
					maxlength : 300,
				},
				root_id : {
					required : true,
					min : 0,
				},
				cate_order : {
					min : 0,
					digits : true,
				}
			}			
		});
	});
</script>