<div class="container-fluid mg-left10">
<div class="row">
		<table class="table  table-striped table-hover">
			<caption>
				<h3>分享及评论</h3>
			</caption>
			<tr align="left">
				<th scope="col"><strong>分享</strong></th>
			</tr>
			<tr align="left">
				<td>
					<div class="bdsharebuttonbox">
						<a href="#" class="bds_more" data-cmd="more"></a><a href="#"
							class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a
							href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a
							href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a
							href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a
							href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
					</div>
				</td>
			</tr>
			<tr align="left">
				<th scope="col"><strong>评论</strong></th>
			</tr>
			<tr align="left">
				<td>
					<!-- UY BEGIN -->
					<div id="uyan_frame"></div> <script type="text/javascript"
						src="http://v2.uyan.cc/code/uyan.js?uid=2022927"></script> <!-- UY END -->
				</td>
			</tr>
		</table>
</div>
</div>