<div class="container-fluid mg-left10">
<div class="row">
		<table class="table  table-striped table-hover">
			<caption>
				<h3>分享及评论</h3>
			</caption>
			<tr align="left">
				<th scope="col"><strong>分享</strong></th>
			</tr>
			<tr align="left">
				<td>
					<!-- JiaThis Button BEGIN -->
					<div class="jiathis_style_24x24">
						<a class="jiathis_button_qzone"></a> <a
							class="jiathis_button_tsina"></a> <a class="jiathis_button_tqq"></a>
						<a class="jiathis_button_weixin"></a> <a
							class="jiathis_button_renren"></a> <a
							href="http://www.jiathis.com/share?uid=2022927"
							class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
						<a class="jiathis_counter_style"></a>
					</div> <script type="text/javascript">
						var jiathis_config = {
							data_track_clickback : 'true'
						};
					</script> <script type="text/javascript"
						src="http://v3.jiathis.com/code/jia.js?uid=2022927"
						charset="utf-8"></script> <!-- JiaThis Button END -->
				</td>
			</tr>
			<tr align="left">
				<th scope="col"><strong>评论</strong></th>
			</tr>
			<tr align="left">
				<td>
					<!-- UY BEGIN -->
					<div id="uyan_frame"></div> <script type="text/javascript"
						src="http://v2.uyan.cc/code/uyan.js?uid=2022927"></script> <!-- UY END -->
				</td>
			</tr>
		</table>
</div>
</div>