<!DOCTYPE html>
<html lang="zh-CN">
<head>
<title>{$title}-__SITENAME__</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel='stylesheet' type='text/css' href='__BCS_PUBLIC__/css/bootstrap.min.css' />
<link rel='stylesheet' type='text/css' href='__BCS_PUBLIC__/css/x3dom.css' />

<eq name="is_mobile" value="1">
<link rel="stylesheet" type="text/css" href="__BCS_PUBLIC__/css/mobile.style.css" />
<else/>
<link rel="stylesheet" type="text/css" href="__BCS_PUBLIC__/css/style.css" />
</eq>

<script type="text/javascript" src="__BCS_PUBLIC__/js/jquery-2.1.3.min.js"></script>
<script type='text/javascript' src='__BCS_PUBLIC__/js/bootstrap.min.js'></script>
<script type="text/javascript" src="__BCS_PUBLIC__/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="__BCS_PUBLIC__/js/sxm.min.js"></script>
<script type="text/javascript" src="__BCS_PUBLIC__/js/x3dom.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?6c35b51dea6375850ce07c7228b81bec";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
