<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">首页</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="__ROOT__/"><img alt="3dAnt" src="__BCS_PUBLIC__/images/logo154X50.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="__ROOT__/">3D蚂蚁 <span class="sr-only">3D蚂蚁</span></a></li>
        <li><a target="_blank" href="__ROOT__/3dshow/">交互展示</a></li>
        <li><a href="__MODULE__/Index/tryEdit">编辑体验</a></li>
        <li><a href="__MODULE__/Form">分享模型</a></li>
        <li><a href="__MODULE__/Help/about">关于3D蚂蚁</a></li>
        <li><a href="__MODULE__/Help/index">帮助文档</a></li>
      </ul>      
      <ul class="nav navbar-nav navbar-right">        
        <if condition="is_login()">
          <li><a target="_blank" href="{:U('User/index')}">{:get_username()}</a></li> 
          <li><a href="{:U('User/logout')}">退出</a></li> 
        <else/>
          <li><a href='__ROOT__/index.php/home/user/login'>登陆</a></li> 
          <li><a href='__ROOT__/index.php/home/user/register'>注册</a></li>
        </if>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>