<div class="InfoContainer">
<div class="login txt-lt">
<if condition="is_login()">
欢迎：{:get_username()} | <a href="{:U('User/ucenter')}">会员中心</a> | <a href="{:U('User/logout')}">退出</a>
<else/>
<a href='__ROOT__/index.php/home/user/login'>登陆</a> | <a href='__ROOT__/index.php/home/user/register'>注册</a>
</if>
</div>
	<div id="Name" class="InfoBlack">模型搜索</div>
	<form id="form" name="search" action="__MODULE__/index/search" method="post"
		class="shortform">
		<input type='text' name='keywords' class='formclass-input'
			placeholder="请输入模型名称" /> 
			<input type="submit" name="baocun"
			id="baocun" value="模 型 搜  索" class="formclass-submit shortsubmit" />
	</form>
	<h2 id="error"></h2>
	<div id="Name" class="InfoBlack">模型分类</div>
	<div class="InfoOrange">
		<div class="InfoDesc">
			<a href='__ROOT__/'>首页</a>/
			<volist name="category_path" id="vo"> 
			<a href='__MODULE__/category?cate={$vo.cate_id}'>{$vo.cate_name}</a>/ </volist>
		</div>
	</div>
	<volist name="categories" id="vo" empty="暂无子分类。">
	<div class="InfoOrange">
		<div class="InfoDesc">		
			<a href='__MODULE__/category?cate={$vo.cate_id}' class='title'
				title='分类名称'>{$vo.cate_name}</a>
		</div>
	</div>
	</volist>
		<div class="InfoOrange">
		<div class="InfoDesc">		
			<a href="__MODULE__/form" target="_parent"><div	class="button blue">分享模型</div></a>
		</div>
	</div>
</div>
<script>
		var validator = new FormValidator(
				'search',
				[ {
					name : 'keywords',
					display : '搜索内容',
					rules : 'required|max_length[50]'				
				} ],
				function(errors, evt) {
					if (errors.length > 0) {
						var errorString = '';

						for (var i = 0, errorLength = errors.length; i < errorLength; i++) {
							errorString += errors[i].message + '<br />';
						}
						document.getElementById("error").innerHTML = errorString;
						if (evt && evt.preventDefault) {
							evt.preventDefault();
						} else if (event) {
							event.returnValue = false;
						}
					}
				});
	</script>