<div class="container-fluid mg-left10">
<div class="row">
<if condition="is_login()">
欢迎：{:get_username()} | <a href="{:U('User/ucenter')}">会员中心</a> | <a href="{:U('User/logout')}">退出</a>
<else/>
<a href='__ROOT__/index.php/home/user/login'>登陆</a> | <a href='__ROOT__/index.php/home/user/register'>注册</a>
</if>
</div>
<div class="row">
<form id="searchform" action="__MODULE__/index/search" method="post" class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" name="keywords" class="form-control" placeholder="请输入模型名称"/>
  </div>
  <button type="submit" class="btn btn-default">搜索模型</button>
</form>
</div>
<div class="row">
	<h3>模型分类</h3>
<ol class="breadcrumb">
  <li><a href="__ROOT__/">根目录</a></li>
  <volist name="category_path" id="vo"> 
  <li><a href="__MODULE__/category?cate={$vo.cate_id}">{$vo.cate_name}</a></li>
  </volist>
</ol>
<ul class="nav nav-pills nav-stacked">
<volist name="categories" id="vo" empty="暂无子分类。">
  <li role="presentation"><a href='__MODULE__/category?cate={$vo.cate_id}'>{$vo.cate_name}</a></li>
</volist>
</ul>
</div>
<div class="row">
<br/>
<a class="btn btn-primary" href="__MODULE__/form" role="button">分享模型</a>
</div>
<include file="Public:footer" />
</div>
<script>
    $().ready(function() {
	 $("#searchform").validate({
		 rules:{
			 keywords:"required"
		 },
		 messages:{
			 keywords:""
		 }
	 });
	});
</script>