<include file="Public:header" />
</head>
<body>
	<input type='radio' name='model' id='modelinfo' />
	<input type='radio' name='model' id='modelcategory' />
	<input type='radio' name='model' id='myhide' />
	<div id='content'>
		<a id='slider' class='home' href='__ROOT__/'>返回首页</a> <label
			id='slider' class='modelinfo' for='modelinfo'>模型信息</label> <label
			id='slider' class='modelcategory' for='modelcategory'>更多模型</label> <label
			id='slider' class='myhide' for='myhide'>收起侧栏</label>
	</div>

	<aside class="modelcategory">
		<include file="Public:moreModel" />
	</aside>

	<aside class="modelinfo">
		<div class="container-fluid">
		<div class="row">
			<table class="table  table-striped table-hover">
				<caption>
					<h3>{$diy['title']}</h3>
				</caption>
				<tr align ="left">
					<th scope="col"><strong>模型描述</strong></th>
				</tr>
				<tr align ="left">
					<td>{$diy['description']}</td>
				</tr>
				
				
				<tr align ="left">
					<td><strong>创作者</strong></td>
				</tr>
				<tr align ="left">
					<td>
							{$diy['creator']}
						</td>
				</tr>
				
				<tr align ="left">
					<td><strong>更新时间</strong></td>
				</tr>
				<tr align ="left">
					<td>
							{$diy['time_update']}
						</td>
				</tr>
				<tr align ="left">
					<td><strong>浏览次数</strong></td>
				</tr>
				<tr align ="left">
					<td>{$diy['views']}</td>
				</tr>
				<tr align ="left">
					<td><strong>预览图片</strong></td>
				</tr>
				<tr align ="left">
					<td>
							 <img
								class="w280h200" src="__BCS_PUBLIC__/diy/{$diy['uid']}/preview.png"
								alt=" {$diy['title']}" />
						</td>
				</tr>
			</table>
		</div></div>
	</aside>
	<iframe id="Content3D" class="Content3D"
		src="__URL__/diyIn?u={$diy['uid']}" scrolling="no"
		marginheight="0" marginwidth="0" frameborder="0"></iframe>
</body>
</html>