<include file="Public:header" />
<script>
function iframeFun(str){
	return screenShot(str);
}
function iframeChangeBackground(self){
	change_background(self)
}
</script>
</head>
<body class="model_in">

    <nav class="navbar navbar-fixed-top">
		<div class="container-fluid" align="right">
		<div class="row">
		<div id="control" class="col-md-6 col-md-offset-6">
		{$diy['control']}
		<!-- 按钮添加位置 -->
		</div>
		</div>
		</div>
	</nav>
	<x3d id="model"> 
    <scene dopickpass="true" pickmode="idBuf"
		bboxsize="-1,-1,-1" bboxcenter="0,0,0" render="true" def="scene">
	<Viewpoint id="viewpoint" bind='false' fieldOfView='1' isActive='false' orientation='0,0,0,1' position='0,0,50'></Viewpoint> 
	<navigationInfo id="head" headlight='true' type='"EXAMINE" "ANY"'></navigationInfo> 
	<directionalLight id="directional" direction='0,0,-1' on='true' intensity='1' shadowIntensity='0.0' color='0,0,0'></directionalLight> 
	<background
		topurl="__BCS_PUBLIC__/images/background/horizon_0_top.jpg"
		righturl="__BCS_PUBLIC__/images/background/horizon_0_right.jpg"
		lefturl="__BCS_PUBLIC__/images/background/horizon_0_left.jpg"
		fronturl="__BCS_PUBLIC__/images/background/horizon_0_front.jpg"
		bottomurl="__BCS_PUBLIC__/images/background/horizon_0_bottom.jpg"
		backurl="__BCS_PUBLIC__/images/background/horizon_0_back.jpg"
		skyangle="1.57" groundangle="1.57" groundcolor="1,0,0" transparency="1.0"
		skycolor="0,0,0"> </background> 
		<Environment id="gamma"	gammaCorrectionDefault="linear"></Environment>
		<Transform id="marker" scale="0.2,0.2,0.2" translation="0,0,0">
            <Shape id="point_sphere" render="false">
                <Appearance>
                    <Material diffuseColor="#FFD966" transparency="0.15"></Material>
                </Appearance>
                <Sphere></Sphere>
            </Shape>
        </Transform>	
	<group id="cn_3dant_diy" onclick="groupClick(event)">
	<group id="cn_3dant_shared">
	{$diy['shared']}
	</group>
	<group id="cn_3dant_basic">
	{$diy['basic']}
	</group>
	<group id="cn_3dant_internet">
	{$diy['internet']}
	</group>	
	</group>
	</scene> 
</x3d>	
<x3d id='CoordinateAxes' showStat='false' showLog='false'> <scene
		id="helper_scene" dopickpass="false"> <viewpoint id="coordinateAxesViewpoint"
		centerOfRotation='0 0 0' position='0 0 3'></viewpoint> <Inline
		mapDEFToID="true" nameSpaceName="CoordinateAxes"
		url="__BCS_PUBLIC__/images/x3d/CoordinateAxes.x3d"></Inline> </scene> </x3d>
	<div class="x3dCover">
	<h2>
	<a title="模型操作浏览方法" alt="模型操作浏览方法" target="_blank" href="__MODULE__/Help/navigation">
	<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
	</a>
	</h2>
	</div>
<script type="text/javascript">
{$diy['script']}
</script>
<include file="Public:foot" />