<include file="Public:header" />

</head>
<body>
<input type='radio' name='model' id='modelcategory'/>
<input type='radio' name='model' id='myhide'/>
<div id='content'>
  <label class='slider modelcategory' for='modelcategory'><span class="glyphicon glyphicon-list" aria-hidden="true"></span></label>
  <label class='slider myhide' for='myhide'><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></label>
</div>
<aside class="modelcategory">
<include file="Public:moreModel" />
</aside>
<include file="Public:logo" />
<include file="Public:slide" />
<div class="container-fluid text-center">
		<div class="row gray mg-top20">
			<h3>
				<span style="color: red" class="glyphicon glyphicon-fire"
					aria-hidden="true"></span> <strong>热 门 模 型</strong>
			</h3>
		</div>
<div class="row">
  <volist name="models1" id="vo">
  	<div class="col-md-3 col-sm-6 col-xs-12">
  	<div class='itemimage'>
    <a href='__CONTROLLER__/model?f={$vo.folder}'><img src='__BCS_UPLOAD__/{$vo.folder}/preview.{$vo.preview_ext}' alt='{$vo.title}虚拟模型' /></a>
    <a href='__CONTROLLER__/model?f={$vo.folder}' ><div class='item-background'></div></a>
    <a href='__CONTROLLER__/model?f={$vo.folder}' class='title'>模型名称：{$vo.title}</a>
    <a href='__CONTROLLER__/model?f={$vo.folder}' class='creator'>分享者：{$vo.creator}</a>
    <a href='__CONTROLLER__/model?f={$vo.folder}' class='time'>浏览次数：{$vo.views} 次</a>
    </div>
	</div>
  </volist>
</div>
<div class="row gray"><h3><span style="color:green" class="glyphicon glyphicon-leaf" aria-hidden="true"></span> <strong>最 新 模 型</strong></h3></div>
<div class="row">
    <volist name="models2" id="vo">
    <div class="col-md-3 col-sm-6 col-xs-12">
    <div class='itemimage'>
    <a href='__CONTROLLER__/model?f={$vo.folder}'><img src='__BCS_UPLOAD__/{$vo.folder}/preview.{$vo.preview_ext}' alt='{$vo.title}虚拟模型' /></a>
    <a href='__CONTROLLER__/model?f={$vo.folder}'><div class='item-background'></div></a>
    <a href='__CONTROLLER__/model?f={$vo.folder}' class='title'>模型名称：{$vo.title}</a>
    <a href='__CONTROLLER__/model?f={$vo.folder}' class='creator'>分享者：{$vo.creator}</a>
    <a href='__CONTROLLER__/model?f={$vo.folder}' class='time'>更新时间：{$vo.time_update}</a>
    </div>
    </div>
    </volist>
    </div>
<div class="row gray"><h3><span style="color:blue" class="glyphicon glyphicon-globe" aria-hidden="true"></span> <strong> 热 门 DIY</strong></h3></div>
<div class="row">
    <volist name="diys" id="vo">
    <div class="col-md-3 col-sm-6 col-xs-12">
    <div class='itemimage'>
    <a href='__CONTROLLER__/diy?id={$vo.id}'><img src='__BCS_PUBLIC__/diy/{$vo.uid}/{$vo.id}/preview.png' alt='{$vo.title}虚拟模型' /></a>
    <a href='__CONTROLLER__/diy?id={$vo.id}'><div class='item-background'></div></a>
    <a href='__CONTROLLER__/diy?id={$vo.id}' class='title'>DIY名称：{$vo.title}</a>
    <a href='__CONTROLLER__/diy?id={$vo.id}' class='creator'>创作者：{$vo.user}</a>
    <a href='__CONTROLLER__/diy?id={$vo.id}' class='time'>浏览次数：{$vo.views}</a>
    </div>
    </div>
    </volist>
    </div>
    <div class="clear"></div>
</div>
<div class="row mg-left10 footer">
<strong>友情链接：</strong>
<a target="_blank" href="http://www.xiaoyaoshikeji.com">小钥匙科技</a>
</div>
<include file="Public:footer" />  
<include file="Public:foot" />