<include file="Public:header" />
</head>
<body>
	<input type='radio' name='model' id='modelinfo' />
	<input type='radio' name='model' id='modelcategory' />
	<input type='radio' name='model' id='myhide' />
	<div id='content'>
		<a id='slider' class='home' href='__ROOT__/'>返回首页</a> <label
			id='slider' class='modelinfo' for='modelinfo'>模型信息</label> <label
			id='slider' class='modelcategory' for='modelcategory'>更多模型</label> <label
			id='slider' class='myhide' for='myhide'>收起侧栏</label>
	</div>

	<aside class="modelcategory">
		<include file="Public:moreModel" />
	</aside>

	<aside class="modelinfo">
		<div class="container-fluid">
		<div class="row">
			<table class="table  table-striped table-hover">
				<caption>
					<h3>{$model['title']}</h3>
				</caption>
				<tr align ="left">
					<th scope="col"><strong>模型描述</strong></th>
				</tr>
				<tr align ="left">
					<td>{$model['description']}</td>
				</tr>
				<tr align ="left">
					<td><strong>模型分类</strong></td>
				</tr>
				<tr align ="left">
					<td><a href='__ROOT__/' class='title' title='分类名称'>首页</a>/ <volist
							name="category_path" id="vo"> <a
							href='__MODULE__/category?cate={$vo.cate_id}' class='title'
							title='分类名称'>{$vo.cate_name}</a>/ </volist></td>
				</tr>
				<tr align ="left">
					<td><strong>模型代码</strong></td>
				</tr>
				<tr align ="left">
					<td>{$model['folder']}</td>
				</tr>
				<tr align ="left">
					<td><strong>创作者</strong></td>
				</tr>
				<tr align ="left">
					<td>
							{$model['creator']}
						</td>
				</tr>
				<tr align ="left">
					<td><strong>E-mail</strong></td>
				</tr>
				<tr align ="left">
					<td>{$model['email']}
						</td>
				</tr>
				<tr align ="left">
					<td><strong>更新时间</strong></td>
				</tr>
				<tr align ="left">
					<td>
							{$model['time_update']}
						</td>
				</tr>
				<tr align ="left">
					<td><strong>浏览次数</strong></td>
				</tr>
				<tr align ="left">
					<td>{$model['views']}</td>
				</tr>
				<tr align ="left">
					<td><strong>预览图片</strong></td>
				</tr>
				<tr align ="left">
					<td>
							<a href="__MODULE__/form/preview?f={$model['folder']}"> <img
								class="w280h200"
								src="__BCS_UPLOAD__/{$model['folder']}/preview.{$model['preview_ext']}"
								alt=" {$model['title']}" /></a>
						</td>
				</tr>
				<tr align ="left">
					<td><p>
							<a class="btn btn-primary"
								href="__MODULE__/form/modify?f={$model['folder']}&cate={$model['category']}"
								target="_parent">修改信息</a>
						</p></td>
				</tr>
			</table>
		</div></div>
	</aside>
	<iframe id="Content3D" class="Content3D"
		src="__URL__/modelIn?f=<?php echo $model['folder']; ?>" scrolling="no"
		marginheight="0" marginwidth="0" frameborder="0"></iframe>
</body>
</html>