<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>3D产品展示—Web3D中文站</title>
<link rel="shortcut icon" href="__PUBLIC__/images/favicon.ico" />
<link rel="stylesheet" href="__PUBLIC__/css/style.css" type="text/css"
	media="all" />
</head>
<body>
	<input type='radio' name='model' id='modelinfo' />
	<input type='radio' name='model' id='modelcategory' />
	<input type='radio' name='model' id='hide' />
	<div id='content'>
		<a id='slider' class='home' href='__ROOT__/'>返回首页</a> <label
			id='slider' class='modelinfo' for='modelinfo'>模型信息</label> <label
			id='slider' class='modelcategory' for='modelcategory'>更多模型</label> <label
			id='slider' class='hide' for='hide'>收起侧栏</label>
	</div>

	<aside class="modelcategory">
	<include file="Public:moreModel" />
	</aside>

	<aside class="modelinfo">
	<div class="InfoContainer">
		<div id="Name" class="InfoBlack">{$model['title']}</div>
		<div class="InfoOrange">
			<div class="InfoDesc">模型描述</div>
			<div id="Place" class="InfoValue">{$model['description']}</div>
		</div>
		<div class="InfoOrange">
			<div class="InfoDesc">模型分类</div>
			<div id="Place" class="InfoValue">
				<a href='__ROOT__/' class='title' title='分类名称'>首页</a>/
				<volist name="category_path" id="vo"> <a
					href='__MODULE__/category?cate={$vo.cate_id}' class='title'
					title='分类名称'>{$vo.cate_name}</a>/ </volist>
			</div>
		</div>
		<div class="InfoOrange">
			<div class="InfoDesc">创作者</div>
			<div id="Date" class="InfoValue">
				<?php echo $model['creator']; ?>
			</div>
		</div>
		<div class="InfoOrange">
			<div class="InfoDesc">E-mail</div>
			<div id="Artist" class="InfoValue">
				<?php echo $model['email']; ?>
			</div>
		</div>
		<div class="InfoOrange">
			<div class="InfoDesc">更新时间</div>
			<div id="Material" class="InfoValue">
				<?php echo $model['time_update']; ?>
			</div>
		</div>
		<div class="InfoOrange">
			<div class="InfoDesc">浏览次数</div>
			<div id="Number" class="InfoValue">
				<?php echo $model['views']; ?>
			</div>
		</div>
		<div class="InfoOrange">
			<div class="InfoDesc">预览图片</div>
			<div id="Location" class="InfoValue">
				<?php echo "<img src='__PUBLIC__/upload/" . $model['folder'] . "/preview." . $model['preview_ext'] . "' alt='" . $model['title'] . "' />"?>
			</div>
		</div>
		<a href="__MODULE__/form/modify?f={$model['folder']}&cate={$model['category']}" target="_parent"><div class="button blue">修改信息</div></a>
	</div>
	</aside>
	<iframe id="Content3D" class="Content3D"
		src="__URL__/modelIn?f=<?php echo $model['folder']; ?>" scrolling="no"
		marginheight="0" marginwidth="0" frameborder="0"></iframe>
</body>
</html>