<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="__PUBLIC__/js/validate.js"></script>
<link rel="stylesheet" href="__PUBLIC__/css/style.css" type="text/css"
	media="all" />
<title>模型分享-web3d中文站</title>
</head>
<body>
	<div class="wrap">
		<div class="header">
			<div class="logo">
				<h1>
					<a href="__ROOT__/"><img src="__PUBLIC__/images/logo.png"
						alt="" /></a>
				</h1>
				<span>让更多的人看到你的作品..</span>
			</div>
		</div>
		<form name="category_form" method="post" action="__URL__/save"
			class="formclass longform">
			<h1>添 加 分 类</h1>
			<table width="100%" border="0" cellspacing="1" cellpadding="0">
				<tr>
					<th>所属分类：</th>
					<td><select name="root_id" id="root_id" class="sel"<notempty
								name="cate_id">disabled="disabled"</notempty> >
							<option value="0">作为顶级分类</option>{$category_option}
					</select><a href="__URL__/lists"> 分类编辑</a></td>
				</tr>
				<include file="Public:category_form" />
				<include file="Public:footer" />
	</div>
</body>
</html>