<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="__PUBLIC__/js/validate.js"></script>
<link rel="stylesheet" href="__PUBLIC__/css/style.css" type="text/css"
	media="all" />
<title>模型分享-web3d中文站</title>
</head>
<body>
	<div class="wrap">
		<div class="header">
			<div class="logo">
				<h1>
					<a href="__ROOT__/"><img src="__PUBLIC__/images/logo.png"
						alt="" /></a>
				</h1>
				<span>让更多的人看到你的作品..</span>
			</div>
		</div>
		<include file="Public:category_form" />
		<include file="Public:footer" />
	</div>
</body>
</html>