<include file="Public:header" />
</head>
<body>
	<div class="container-fluid">
		<include file="Public:logo" />
		<div class="row">
		<form name="category_form" method="post" action="__URL__/update" class="formclass">
		<h3>编 辑 分 类</h3>
		<div class="form-group">
		<label for="root_id_a">所属分类：</label>
			<select name="root_id_a" id="root_id" class="form-control" disabled="disabled"><option
						value="0">作为顶级分类</option>{$category_option}
			</select>
			<input name="root_id" id="root_id" value="{$onecategory.root_id}" type="hidden" />
		
		<include file="Public:category_form" />
	</div>
		<include file="Public:footer" />
	</div>
<include file="Public:foot" />