<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="__PUBLIC__/css/style.css" type="text/css"
	media="all" />
<title>模型分享-web3d中文站</title>
</head>
<body>
	<div class="wrap">
		<div class="header">
			<div class="logo">
				<h1>
					<a href="__ROOT__/"><img src="__PUBLIC__/images/logo.png"
						alt="" /></a>
				</h1>
				<span>让更多的人看到你的作品..</span>
			</div>
		</div>		
			<form name="mform" method="post" action="del" class="formclass longform">
			<h1>分 类 列 表</h1>
		<table width="100%" border="0" cellspacing="1" cellpadding="0" class="table">
			<tr>
				<th>ID</th>
				<th>分类名称</th>
				<th>模型数目</th>
				<th>排列顺序</th>
				<th>分类属性</th>
				<th>操作选项</th>
			</tr>
			<volist name="categories" id="cate">
			<tr>
				<td>{$cate.cate_id}</td>
				<td>{$cate.cate_name} <span style="color: #999; font-size: 10px;">({$cate.cate_childcount})</span></td>
				<td>{$cate.cate_postcount}</td>
				<td>{$cate.cate_order}</td>
				<td>{$cate.cate_isbest}</td>
				<td><a href='edit?cate={$cate.cate_id}'>编辑</a> | 清空 | <a href='del?cate={$cate.cate_id}'>删除</a> | <a href='lists?cate={$cate.cate_id}'>进入子类</a> | <a href='add?cate={$cate.cate_id}'>添加子类</a></td>
			</tr>
			</volist>
		</table>
		</form>
			<include file="Public:footer" />
		</div>
</body>
</html>