<include file="Public:header" />
</head>
<body>
	<div class="container-fluid">
		<include file="Public:logo" />
		<div class="row">
			<div class="formclass">
			<h3>分 类 列 表</h3>
		<table class="table">
			<tr>
				<td>ID</td>
				<td>分类名称(子)</td>
				<td>模型数目</td>
				<td>排列顺序</td>
				<td>分类属性</td>
				<td>操作选项
<a class="btn btn-default btn-xs" href='add?cate={$cate_id}'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
<switch name="cate_id" >
<case value="0"></case>
<default />
<a class="btn btn-default btn-xs" href='lists?cate={$root_id}'><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
</switch>			
				</td>
			</tr>
			<empty name="categories">
			           <td colspan="6"><h5 id="error">暂无子分类。</h5></td>
                <else />
			<volist name="categories" id="cate">
			<tr>    
				<td>{$cate.cate_id}</td>
				<td>{$cate.cate_name} <span style="color: #999; font-size: 10px;">({$cate.cate_childcount})</span></td>
				<td>{$cate.cate_postcount}</td>
				<td>{$cate.cate_order}</td>
				<td>{$cate.cate_isbest}</td>
					<td>
<a class="btn btn-default btn-xs" href='edit?cate={$cate.cate_id}'><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
<a class="btn btn-default btn-xs" href='lists?cate={$cate.cate_id}'><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a>
<a tag="delete" class="btn btn-danger btn-xs" href='del?cate={$cate.cate_id}'><span	class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
</td>
				</tr>
			</volist>
			</empty>
		</table>
		</div>
		</div>	
			<include file="Public:footer" />
		</div>
		<script type="text/javascript">
		$(document).ready(function(){	
			$("[tag='delete']").click(function(){
				var r = confirm("确认删除该分类？");
				if (r==true)
			    {
			    return true;
			    }
			  else
			    {
			    return false;
			    }
			});
		});
		</script>
</body>
</html>