<include file="Public:header" />
</head>
<body>
<include file="Public:logo" />
<div class="container-fluid">
		<div class="row bg-info" align="center">
			<h3>
				<span style="color: green" class="glyphicon glyphicon-exclamation-sign"
					aria-hidden="true"></span> <strong>账户激活提示</strong>
			</h3>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1 mg-top20">
			<switch name="flag">
			<case value='0'>
			<div class="alert alert-warning" role="alert">
			    <h3><strong>{$title}</strong></h3>				
				<p>{$message}</p>			
			</div>
			</case>
			<case value="1">
			<div class="alert alert-success" role="alert">
			    <h3>恭喜<strong>{$username}</strong>，距成功只差一步！</h3>
				<p>为了您的账户安全，我们需要验证邮箱的有效性。</p>
				<p>我们已向您的邮箱：<strong>{$email}</strong>发送一份验证邮件，请查收邮件，并点击邮件内链接对账户进行激活。</p>			
			</div>
			</case>
			<default />
			</switch>							
			</div>
		</div>	
 </div>
 <include file="Public:footer" />
<include file="Public:foot" />