<include file="Public:header" />
</head>
<body>
<include file="Public:logo" />
	<div class="container-fluid">		
		<div class="row">
		<form name="add_dns_form" id="add_dns_form" method="post" action="__SELF__" class="formclass">
			<h3>添加DNS</h3>
<div class="form-group">
	<label for="title">DNS名称：</label> 
	<input name="title" type="text" class="form-control" id="title" size="35" maxlength="50"/>
</div>
<div class="checkbox">
    <label>
      <input name="status" type="checkbox" id="status" value="1" class="checkbox"/> 是否启用
    </label>
</div>
<div class="form-group">
	<label for="cate_description">DNS介绍：</label> 
	<textarea name="description" rows="5" class="form-control" id="description"></textarea>
</div>
<div class="form-group">
	<label for="ip">IP：</label> 
	<input name="ip" type="text" class="form-control" id="title" size="35" maxlength="50"/>
</div>
<div class="form-group">
	<label for="pt">端口（PORT）：</label> 
	<input name="pt" type="text" class="form-control" id="title" size="35" maxlength="50"/>
</div>
<input type="submit" class="btn btn-primary" value="确 定" /> 
<input type="reset" class="btn btn-warning" value="重 置" />
</form>
	</div>
	</div>
<include file="Public:footer" />
<script>
$("#add_dns_form").validate({
  		 rules:{
  			 title:{
  				 required:true
  			 },
  			 description:{
  				 required:true
  			 }
  		 }
  	 });
</script>
<include file="Public:foot" />