<include file="Public:header" />
<script type='text/javascript' src='__BCS_PUBLIC__/js/x3dom.js'></script>
<script>
$(document).ready(function(){
   form_disable();
   tsfNum=get_max_id();
   $("button#addModelOkBt").click(function(){
	   var lujing='__BCS_UPLOAD__';
	   addmodel(lujing);
   });
   $("button#saveBt").click(function(){
	   var obj=new Object();
	   $("[tag='cn_3dant_inline']").children().remove();
	   obj.shared=$("group#cn_3dant_shared").html();
	   obj.basic=$("group#cn_3dant_basic").html();
	   obj.internet=$("group#cn_3dant_internet").html();
	   obj.uid={$diy['uid']};
	   $.post("__URL__/saveDiy",obj,success,"json");
	   function success(data){
		   alert(data.shared);
	   }
   });
   $("button#modelListOkBt").click(function(){
	   $('#modelListModal').modal('hide');
   });
   $("button#modelListBt").click(show_model_list);
   $("button#saveOkBt").click(get_max_id);
});
</script>
</head>
<body class="model_in">
	<div class="modal fade" id="addModelModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">插入模型</h4>
				</div>
				<div class="modal-body">
				<label for="daima">已分享的模型:</label>
					<input type="text" id="daima" name="daima" class="form-control" placeholder="请输入模型代码" />	
					<h5><strong>基本模型:</strong></h5>
					<div class="btn-group" role="group" aria-label="添加基本模型">
						<button id="box" type="button" class="btn btn-default" onclick="insert_shape('box')"><img src="__BCS_PUBLIC__/images/Box.gif"></button>
						<button id="sphere" type="button" class="btn btn-default"  onclick="insert_shape('sphere')"><img src="__BCS_PUBLIC__/images/Sphere.gif"></button>
						<button id="cone" type="button" class="btn btn-default" onclick="insert_shape('cone')"><img src="__BCS_PUBLIC__/images/Cone.gif"></button>
						<button id="cylinder" type="button" class="btn btn-default" onclick="insert_shape('cylinder')"><img src="__BCS_PUBLIC__/images/Cylinder.gif"></button>
						<button id="text" type="button" class="btn btn-default" onclick="insert_shape('text')"><img src="__BCS_PUBLIC__/images/Text.gif"></button>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button id="addModelOkBt" type="button" class="btn btn-primary">确定</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modelListModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">已插入模型列表</h4>
				</div>
				<div class="modal-body">
				<table id="modelListTable" class="table table-striped">
						<tr id="title" class="success">
							<td>ID</td>
							<td>名称</td>
							<td>选择</td>
							<td>删除</td>
							<td>来源</td>
						</tr>						
				</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button id="modelListOkBt" type="button" class="btn btn-primary">确定</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="domTree" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Dom树</h4>
				</div>
				<div class="modal-body">
				<code id="codeShow">
				
				</code>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button id="saveOkBt" type="button" class="btn btn-primary">确定</button>
				</div>
			</div>
		</div>
	</div>
	<input type='radio' name='model' id='modelinfo' />
	<input type='radio' name='model' id='modelcategory' checked="checked" />
	<input type='radio' name='model' id='myhide' />
	<div id='content'>
		<a id='slider' class='home' href='__ROOT__/'>返回首页</a>
		<label	id='slider' class='modelcategory' for='modelcategory'>我的家园</label> 
		<label id='slider' class='modelinfo' for='modelinfo'>辅助信息</label>		
		<label	id='slider' class='myhide' for='myhide'>收起侧栏</label>
	</div>
	<aside class="modelinfo">
	<div class="container-fluid mg-left10">
	<include file="Public:userCenter" />

				<h3>辅助信息</h3>
				<button id="modelListBt" type="button" class="btn btn-default"
					aria-label="插入模型" data-toggle="modal" data-target="#modelListModal"
					data-backdrop="static">
					<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
					显示已插入模型
				</button>
				<button id="saveBt" type="button" class="btn btn-default"
					aria-label="插入模型" data-toggle="modal" data-target="#domTree"
					data-backdrop="static">
					<span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
					保存
				</button>

	        <h6><strong>点球半径：</strong></h6>
                   <label class="sr-only" for="radius">点球大小</label>
                   <input name="radius" type="text" id="radius" value="" onchange="change_point_sphere()" onkeyup="clearNoNum(this)" class="form-control" />
            <h6><strong>更换场景：</strong></h6>
			<select onchange="change_background(this)" class="form-control">
				<option value="1">草地</option>
				<option value="2" selected="selected">戈壁</option>
				<option value="3">海洋</option>
				<option value="4">冰原</option>
				<option value="5">晚霞</option>
				<option value="6">沙滩</option>
				<option value="7">星空</option>
				<option value="8">纯色（蓝）</option>
				<option value="9">纯色（黑）</option>
			</select>
			
	</div>
	</aside>
	<aside class="modelcategory">
	<div class="container-fluid mg-left10">	
	<include file="Public:userCenter" />
	<div class="row">
		<h3>
			{$diy['title']}<small>我的家园</small>
		</h3>
		<h4>模型引入</h4>
		
			<button type="button" class="btn btn-default" aria-label="插入模型"
				data-toggle="modal" data-target="#addModelModal" data-backdrop="static">
				<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
				插入模型
			</button>
			<button type="button" class="btn btn-default" id="deletemodel" onclick="deletemodel()">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				删除模型
			</button>
			<button type="button" class="btn btn-danger" id="emptymodel" onclick="emptymodel()">
				<span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
				清空模型
			</button>	
	</div>
		<form id="diy_form" name="diy_form" action="__URL__/save" method="post" onkeydown="if(event.keyCode==13)return false;" role="form">	
		<h4>模型调整（当前选择模型：<small class="info"></small>）</h4>
		<div class="form-group">
		<h6><strong>模型名称：</strong></h6>
		<div class="input-group">
                   <label class="sr-only" for="ts_x">模型名称</label>
                   <div class="input-group-addon">名称</div>
                   <input name="title" type="text" id="title" value="" onchange="change()" class="form-control" />
        </div>
		<h6><strong>位置：</strong></h6>		
		
              <div class="input-group">
                   <label class="sr-only" for="ts_x">X</label>
                   <div class="input-group-addon">X</div>
                   <input name="ts_x" type="text" id="ts_x" value="" onchange="change()" onkeyup="clearNoNum(this)" class="form-control" />
              </div>            
              <div class="input-group">
                   <label class="sr-only" for="ts_x">Y</label>
                   <div class="input-group-addon">Y</div>
                   <input name="ts_y" type="text" id="ts_y" value="" onchange="change()" onkeyup="clearNoNum(this)" class="form-control" />
              </div>            
              <div class="input-group">
                   <label class="sr-only" for="ts_x">Z</label>
                   <div class="input-group-addon">Z</div>
                   <input name="ts_z" type="text" id="ts_z" value="" onchange="change()" onkeyup="clearNoNum(this)" class="form-control" />
              </div>
          </div>
          <h6><strong>旋转：</strong></h6>
		<div class="form-group">
			  <div class="input-group">
                   <label class="sr-only" for="rt_x">X</label>
                   <div class="input-group-addon">X</div>
                   <input name="rt_x" type="text" id="rt_x" value="" onchange="change()" onkeyup="clearNoNum(this)" class="form-control" />
              </div>
              <div class="input-group">
                   <label class="sr-only" for="rt_y">Y</label>
                   <div class="input-group-addon">Y</div>
                   <input name="rt_y" type="text" id="rt_y" value="" onchange="change()" onkeyup="clearNoNum(this)" class="form-control" />
              </div>
              <div class="input-group">
                   <label class="sr-only" for="rt_z">Z</label>
                   <div class="input-group-addon">Z</div>
                   <input name="rt_z" type="text" id="rt_z" value="" onchange="change()" onkeyup="clearNoNum(this)" class="form-control" />
              </div>
              <div class="input-group">
                   <label class="sr-only" for="rt_a">A</label>
                   <div class="input-group-addon">A</div>
                   <input name="rt_a" type="text" id="rt_a" value="" onchange="change()" onkeyup="clearNoNum(this)" class="form-control" />
              </div>			
			</div>
			<h6><strong>放缩比例：</strong></h6>
			<div class="form-group">
              <div class="input-group">
                   <label class="sr-only" for="sc_x">x</label>
                   <div class="input-group-addon">X</div>
                   <input name="sc_x" type="text" id="sc_x" value="" onchange="change()" onkeyup="clearNoNum(this)" class="form-control" />
              </div>
            
              <div class="input-group">
                   <label class="sr-only" for="sc_y">y</label>
                   <div class="input-group-addon">Y</div>
                   <input name="sc_y" type="text" id="sc_y" value="" onchange="change()" onkeyup="clearNoNum(this)" class="form-control" />
              </div>
            
              <div class="input-group">
                   <label class="sr-only" for="sc_z">z</label>
                   <div class="input-group-addon">Z</div>
                   <input name="sc_z" type="text" id="sc_z" value="" onchange="change()" onkeyup="clearNoNum(this)" class="form-control" />
              </div>
          </div>
          <div id="color" class="form-group hidden">
          <h6><strong>模型颜色：</strong></h6>
              <div class="input-group">
                   <label class="sr-only" for="color_r">R</label>
                   <div class="input-group-addon">R</div>
                   <input name="color_r" type="text" id="color_r" value="" onchange="change()" onkeyup="clearNoNum(this)" class="form-control" />
              </div>
            
              <div class="input-group">
                   <label class="sr-only" for="color_g">G</label>
                   <div class="input-group-addon">G</div>
                   <input name="color_g" type="text" id="color_g" value="" onchange="change()" onkeyup="clearNoNum(this)" class="form-control" />
              </div>
            
              <div class="input-group">
                   <label class="sr-only" for="color_b">B</label>
                   <div class="input-group-addon">B</div>
                   <input name="color_b" type="text" id="color_b" value="" onchange="change()" onkeyup="clearNoNum(this)" class="form-control" />
              </div>          
          </div>
          <div id="xyz"></div>		
		</form>		
	</div>
	</aside>

	<x3d id="model"> <scene dopickpass="true" pickmode="idBuf"
		bboxsize="-1,-1,-1" bboxcenter="0,0,0" render="true" def="scene">
	<Viewpoint bind='false' fieldOfView='1' isActive='false' orientation='0,0,0,1' position='0,0,50'></Viewpoint> 
	<navigationInfo id="head" headlight='true' type='"EXAMINE" "ANY"'></navigationInfo> 
	<directionalLight id="directional" direction='0,0,-1' on='true' intensity='1' shadowIntensity='0.0' color='0,0,0'></directionalLight> 
	<background
		topurl="__BCS_PUBLIC__/images/background/horizon_2_top.jpg"
		righturl="__BCS_PUBLIC__/images/background/horizon_2_right.jpg"
		lefturl="__BCS_PUBLIC__/images/background/horizon_2_left.jpg"
		fronturl="__BCS_PUBLIC__/images/background/horizon_2_front.jpg"
		bottomurl="__BCS_PUBLIC__/images/background/horizon_2_bottom.jpg"
		backurl="__BCS_PUBLIC__/images/background/horizon_2_back.jpg"
		skyangle="1.57" groundangle="1.57" groundcolor="1,0,0" transparency="1.0"
		skycolor="0,0,0"> </background> 
		<Environment id="gamma"	gammaCorrectionDefault="linear"></Environment>
		<Transform id="marker" scale="0.5,0.5,0.5" translation="0,0,0">
            <Shape id="point_sphere" render="false">
                <Appearance>
                    <Material diffuseColor="#FFD966"></Material>
                </Appearance>
                <Sphere></Sphere>
            </Shape>
        </Transform>	
	<group id="cn_3dant_diy" onclick="groupClick(event)">
	<group id="cn_3dant_shared">
	{$diy['shared']}
	</group>
	<group id="cn_3dant_basic">
	{$diy['basic']}
	</group>
	<group id="cn_3dant_internet">
	{$diy['internet']}
	</group>	
	</group>
	</scene>
	</x3d>
</body>
</html>