<include file="Public:header" />
<script type='text/javascript' src='__BCS_PUBLIC__/js/x3dom.js'></script>
<script type='text/javascript' src='__BCS_PUBLIC__/js/sxm.js'></script>
<script>
$(document).ready(function(){
   tsfNum=0;
   form_disable();
   $("button#okbt").click(function(){
	   var lujing='__BCS_UPLOAD__';
	   addmodel(lujing);
   });  
});
</script>
</head>
<body class="model_in">
	<div class="modal fade" id="addmodel" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">插入模型</h4>
				</div>
				<div class="modal-body">
				<label for="daima">请输入模型代码</label>
					<input type="text" id="daima" name="daima" class="form-control" placeholder="请输入模型代码" />
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button id="okbt" type="button" class="btn btn-primary">确定</button>
				</div>
			</div>
		</div>
	</div>
	<input type='radio' name='model' id='modelcategory' checked="checked" />
	<input type='radio' name='model' id='myhide' />
	<div id='content'>
		<a id='slider' class='home' href='__ROOT__/'>返回首页</a> <label
			id='slider' class='modelcategory' for='modelcategory'>我的家园</label> <label
			id='slider' class='myhide' for='myhide'>收起侧栏</label>
	</div>
	<aside class="modelcategory">
	<div class="container-fluid mg-left10">	
	<div class="row">
		<h3>
			我的家园<small>黎明之城</small>
		</h3>
		<h4>模型引入</h4>
		
			<button type="button" class="btn btn-default" aria-label="插入模型"
				data-toggle="modal" data-target="#addmodel" data-backdrop="static">
				<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
				插入模型
			</button>
			<button type="button" class="btn btn-default" id="deletemodel" onclick="deletemodel()">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				删除模型
			</button>
			<button type="button" class="btn btn-danger" id="emptymodel" onclick="emptymodel()">
				<span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
				清空模型
			</button>	
	</div>
		<form id="diy_form" name="diy_form" action="__URL__/save" method="post" onkeydown="if(event.keyCode==13)return false;" role="form">	
		<h4>模型调整（当前选择模型：<small class="info"></small>）</h4>
		<h6><strong>位置：</strong></h6>
		
		
		<div class="form-group">
              <div class="input-group">
                   <label class="sr-only" for="ts_x">X</label>
                   <div class="input-group-addon">X</div>
                   <input name="ts_x" type="text" id="ts_x" value="" onchange="change()" onkeyup="clearNoNum(this)" class="form-control" />
              </div>
            
              <div class="input-group">
                   <label class="sr-only" for="ts_x">Y</label>
                   <div class="input-group-addon">Y</div>
                   <input name="ts_y" type="text" id="ts_y" value="" onchange="change()" onkeyup="clearNoNum(this)" class="form-control" />
              </div>
            
              <div class="input-group">
                   <label class="sr-only" for="ts_x">Z</label>
                   <div class="input-group-addon">Z</div>
                   <input name="ts_z" type="text" id="ts_z" value="" onchange="change()" onkeyup="clearNoNum(this)" class="form-control" />
              </div>
          </div>
          <h6><strong>旋转：</strong></h6>
		<div class="form-group">
			  <div class="input-group">
                   <label class="sr-only" for="rt_x">X</label>
                   <div class="input-group-addon">X</div>
                   <input name="rt_x" type="text" id="rt_x" value="" onchange="change()" onkeyup="clearNoNum(this)" class="form-control" />
              </div>
              <div class="input-group">
                   <label class="sr-only" for="rt_y">Y</label>
                   <div class="input-group-addon">Y</div>
                   <input name="rt_y" type="text" id="rt_y" value="" onchange="change()" onkeyup="clearNoNum(this)" class="form-control" />
              </div>
              <div class="input-group">
                   <label class="sr-only" for="rt_z">Z</label>
                   <div class="input-group-addon">Z</div>
                   <input name="rt_z" type="text" id="rt_z" value="" onchange="change()" onkeyup="clearNoNum(this)" class="form-control" />
              </div>
              <div class="input-group">
                   <label class="sr-only" for="rt_a">A</label>
                   <div class="input-group-addon">A</div>
                   <input name="rt_a" type="text" id="rt_a" value="" onchange="change()" onkeyup="clearNoNum(this)" class="form-control" />
              </div>			
			</div>
			<h6><strong>放缩比例：</strong></h6>
			<div class="form-group">
              <div class="input-group">
                   <label class="sr-only" for="sc_x">长</label>
                   <div class="input-group-addon">长</div>
                   <input name="sc_x" type="text" id="sc_x" value="" onchange="change()" onkeyup="clearNoNum(this)" class="form-control" />
              </div>
            
              <div class="input-group">
                   <label class="sr-only" for="sc_y">宽</label>
                   <div class="input-group-addon">宽</div>
                   <input name="sc_y" type="text" id="sc_y" value="" onchange="change()" onkeyup="clearNoNum(this)" class="form-control" />
              </div>
            
              <div class="input-group">
                   <label class="sr-only" for="sc_z">高</label>
                   <div class="input-group-addon">高</div>
                   <input name="sc_z" type="text" id="sc_z" value="" onchange="change()" onkeyup="clearNoNum(this)" class="form-control" />
              </div>
          </div>
          <h6><strong>点球大小：</strong></h6>
			<div class="form-group">
			<div class="input-group">
                   <label class="sr-only" for="sc_z">点球大小</label>
                   <div class="input-group-addon">半径</div>
                   <input name="radius" type="text" id="radius" value="" onchange="change_point()" onkeyup="clearNoNum(this)" class="form-control" />
              </div>
            </div>
		<div id="xyz"></div>
		</form>
	</div>
	</aside>

	<x3d id="model"> <scene dopickpass="true" pickmode="idBuf"
		bboxsize="-1,-1,-1" bboxcenter="0,0,0" render="true" def="scene">
	<Viewpoint bind='false' fieldOfView='1' isActive='false' orientation='0,0,0,1' position='0,0,100'></Viewpoint> 
	<navigationInfo id="head" headlight='true' type='"EXAMINE" "ANY"'></navigationInfo> 
	<directionalLight id="directional" direction='0,0,-1' on='true' intensity='1' shadowIntensity='0.0' color='0,0,0'></directionalLight> 
	<background
		topurl="__BCS_PUBLIC__/images/background/horizon_2_top.jpg"
		righturl="__BCS_PUBLIC__/images/background/horizon_2_right.jpg"
		lefturl="__BCS_PUBLIC__/images/background/horizon_2_left.jpg"
		fronturl="__BCS_PUBLIC__/images/background/horizon_2_front.jpg"
		bottomurl="__BCS_PUBLIC__/images/background/horizon_2_bottom.jpg"
		backurl="__BCS_PUBLIC__/images/background/horizon_2_back.jpg"
		skyangle="1.57" groundangle="1.57" groundcolor="" transparency="1.0"
		skycolor="0 0 0"> </background> 
		<Environment id="gamma"	gammaCorrectionDefault="linear"></Environment>
		<Transform id="marker" scale="1,1,1" translation="0,0,0">
            <Shape id="point_sphere" render="false">
                <Appearance>
                    <Material diffuseColor="#FFD966"></Material>
                </Appearance>
                <Sphere></Sphere>
            </Shape>
        </Transform>
	
	<group id="mydiy" onclick="groupClick(event)">
	
	</group>
	</scene>
	</x3d>
</body>
</html>