<include file="Public:header" />
</head>
<body>
<include file="Public:logo" />
	<div class="container-fluid">		
		<div class="row">
		<form method="post" action="__SELF__" class="formclass width300"
			name="upload_form" id="form" role="form">
			<h3>用户登录</h3>
			<input type='text' name='username' id='username'
				class='formclass-input' placeholder="请输入用户名" required /> 
				<input type='password' name='password' id='password' class='formclass-input'
				placeholder="密码" required/> 
				<input type='text' name='verify' id='verify'
				class='formclass-input' placeholder="输入下方验证码" required/> 
				<div  align="center"><img
				class="verify" alt="点击切换" title="点击切换" src="__URL__/verify"
				style="cursor: pointer;"
				onclick="this.src='__URL__/verify/'+Math.random()" /> </div>
				<input
				type="submit" value="登 陆" name="B1" class="formclass-submit" />
			<p class="formclass-help">
				<a href="index.html">忘记密码？</a> | <a href="__URL__/register">注册新用户</a>
			</p>
			<p class="error"></p>
		</form>
</div>
		
	</div>
	<include file="Public:footer" />
	<script>
	$("#form").validate({
		submitHandler: function(form) {			
			var self = $("#form");
			//提交表单，正确直接跳转，错误返回验证码错误
			$.post(self.attr("action"),self.serialize(),success,"json");
			function success(data) {
				if (data.status) {					
					window.location.href = data.url;
				} else {
					//显示验证码错误信息
					self.find(".error").text(data.info);
					//刷新验证码
					$(".verify").click();
					return false;
				}
			}
			return false;
			  }
	});
		$(document).ajaxStart(function() {
			$("input:submit").addClass("log-in").attr("disabled", true);
		}).ajaxStop(function() {
			$("input:submit").removeClass("log-in").attr("disabled", false);
		});
	</script>
<include file="Public:foot" />