<include file="Public:header" />
</head>
<body>
	<div class="container-fluid">
		<include file="Public:logo" />
		<div class="row">
        <form class="formclass width300" action="__SELF__" method="post">
        <h3>修改密码</h3>
          <div class="control-group">
            <label class="control-label" for="inputPassword">原密码</label>
            <div class="controls">
              <input type="password" id="inputPassword"  class="formclass-input" placeholder="请输入密码"  errormsg="密码为6-20位" nullmsg="请填写密码" datatype="*6-20" name="old">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPassword">新密码</label>
            <div class="controls">
              <input type="password" id="inputPassword"  class="formclass-input" placeholder="请输入密码"  errormsg="密码为6-20位" nullmsg="请填写密码" datatype="*6-20" name="password">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPassword">确认密码</label>
            <div class="controls">
              <input type="password" id="inputPassword" class="formclass-input" placeholder="请再次输入密码" recheck="password" errormsg="您两次输入的密码不一致" nullmsg="请填确认密码" datatype="*" name="repassword">
            </div>
            <div class="error"></div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="formclass-submit">提 交</button>
            </div>
          </div>
        </form>
</div>
		<include file="Public:footer" />
	</div>
	<script>
    	$(document)
	    	.ajaxStart(function(){
	    		$("button:submit").addClass("log-in").attr("disabled", true);
	    	})
	    	.ajaxStop(function(){
	    		$("button:submit").removeClass("log-in").attr("disabled", false);
	    	});

    	$("form").submit(function(){
    		var self = $(this);
    		$.post(self.attr("action"), self.serialize(), success, "json");
    		return false;

    		function success(data){
    			if(data.status){
    				alert('修改密码成功！');
    				window.location.href = data.url;
    			} else {
    				self.find(".error").text(data.info);
    			}
    		}
    	});
	</script>
</body>
</html>
