<include file="Public:header" />
</head>
<body>
	<div class="container-fluid">
		<include file="Public:logo" />
		<div class="row">
		<form method="post" action="__SELF__" class="formclass width300" name="upload_form" id="form">
			<h3>新用户注册</h3>
			<input type='text' name='username' id='username' class='formclass-input' placeholder="用户名" required /> 
			<input type='password' name='password' id='password' class='formclass-input' placeholder="密码" required /> 
			<input type='password' name='repassword' id='repassword' class='formclass-input' placeholder="确认密码" required /> 
			<input type='email' name='email' id='email' class='formclass-input' placeholder="请输入电子邮箱" required />
			<input type='text' name='verify' id='verify' class='formclass-input' placeholder="输入下方验证码" required /> 
			<div align="center"><img class="verify" alt="点击切换" title="点击切换" src="__URL__/verify" style="cursor:pointer;" onclick="this.src='__URL__/verify/'+Math.random()"/></div>
			<input type="submit" value="注 册" name="B1" class="formclass-submit" />
			<p class="formclass-help"><a href="__URL__/login">已有账号，点击登录</a></p>
            <p class="error"></p>
		</form>
		</div>
		<include file="Public:footer" />
	</div>
	<script>
	$(document)
	.ajaxStart(function(){
		$("input:submit").addClass("log-in").attr("disabled", true);
	})
	.ajaxStop(function(){
		$("input:submit").removeClass("log-in").attr("disabled", false);
	});
	$("#form").validate({
		rules:{
			username:{
				required:true,
				maxlength:30,
				minlength:3
			},
			password:{
				required:true,
				maxlength:30,
				minlength:6
			},
			repassword:{
				required:true,
				equalTo:"#password"
			},
			email:{
				required:true,
				email:true
			},
			verify:{
				required:true,
				rangelength:[5,5]
			}
		},
		submitHandler: function(form) {			
			var self = $("#form");
			//提交表单，正确直接跳转，错误返回验证码错误
			$.post(self.attr("action"),self.serialize(),success,"json");
			function success(data) {
				if (data.status) {					
					window.location.href = data.url;
				} else {
					//显示验证码错误信息
					self.find(".error").text(data.info);
					//刷新验证码
					$(".verify").click();
					return false;
				}
			}
			return false;
			  }
	});
    
	</script>
</body>
</html>