<include file="Public:header" />
<script type='text/javascript' src='__BCS_PUBLIC__/css/x3dom.js'></script>
<link rel='stylesheet' type='text/css'
	href='__BCS_PUBLIC__/css/x3dom.css' />
</head>
<body>
	<input type='radio' name='model' id='modelinfo' />
	<input type='radio' name='model' id='modelcategory' />
	<input type='radio' name='model' id='myhide' />
	<div id='content'>
		<a id='slider' class='home' href='__ROOT__/'>返回首页</a> <label
			id='slider' class='modelinfo' for='modelinfo'>会员中心</label> <label
			id='slider' class='modelcategory' for='modelcategory'>更多模型</label> <label
			id='slider' class='myhide' for='myhide'>收起侧栏</label>
	</div>
	<aside class="modelcategory">
		<include file="Public:moreModel" />
	</aside>
	<aside class="modelinfo">
		<div class="container-fluid mg-left10">
			<div class="row">
			<h3>{:get_username()} <small>欢迎回来</small></h3>
			</div>
			<div class="row">
			<h4>
				<a href="__URL__/diy">我的家园</a>
			</h4>
			</div>
			<div class="row">
			<h4>
				<a href="__URL__/info">会员信息</a>
			</h4>
			</div>
			<div class="row">
			<h4>
				<a href="{:U('User/logout')}">退出</a>	
			</h4>
			</div>
					
		</div>
	</aside>
	<div class="container-fluid">
		<include file="Public:logo" />
		<div class="row">
			<volist name="diys" id="vo">
			<div class="col-md-3">
				<div class='item'>
					<img src='__BCS_PUBLIC__/diy/{$vo.uid}/preview.png'
						alt='{$vo.title}' />
					<div class='item-background'></div>
					<a href='__CONTROLLER__/diy?u={$vo.uid}' class='title' title='模型名称'>DIY名称：{$vo.title}</a>
					<a href='__CONTROLLER__/diy?u={$vo.uid}' class='time' title='更新时间'>浏览次数：{$vo.views}</a>
				</div>
			</div>
			</volist>
			<div class="col-md-3">
			<div class='item'>
					<img src='__BCS_PUBLIC__/images/add.png'
						alt='添加diy' />
					<div class='item-background'></div>
					<a href='__CONTROLLER__/addDiy?u={$vo.uid}' class='title'>点击添加DIY</a>
				</div>
			</div>
		</div>
	</div>

	<include file="Public:footer" />
</body>
</html>