<include file="Public:header" />
<script type='text/javascript' src='__BCS_PUBLIC__/js/additional-methods.min.js'></script>
</head>
<body>
<include file="Public:logo" />
	<div class="container-fluid">		
		<div class="row">
		<form method="post" action="__URL__/upload" enctype="multipart/form-data" class="formclass" name="upload_form" id="upload_form" role="form">
		<h3>分享您的模型...</h3>
			<div class="form-group">
			<label for="model">模型文件：（.x3d 小于3M）</label>                 
                 <input id="model" name="model" type="file" value="浏览" accept="model/x3d+xml" class="form-control" />
            <label for="model">注意：模型的贴图文件位于texture/文件夹下，分享模型后，可完善贴图信息。</label>
            </div>			
			<button type="submit" class="btn btn-default" >确认分享</button>
		</form>
		</div>
	</div>
	<include file="Public:footer" />
	<script>
	$("#upload_form").validate({
  		 rules:{  			 
  			 model:{
  				required:true,
  				 accept:"model/x3d*"
  			 }
  		 },
  		 messages:{  			
 			model:{
 				 accept:"模型文件格式不正确！"
 			 }
  		 }
  	 });
	</script>
<include file="Public:foot" />