<include file="Public:header" />
<script type='text/javascript' src='__BCS_PUBLIC__/js/additional-methods.min.js'></script>
</head>
<body>
	<div class="container-fluid">
		<include file="Public:logo" />
		<div class="row">
		<form method="post" action="__URL__/upload" enctype="multipart/form-data" class="formclass  width300" name="upload_form" id="upload_form" role="form">
		<h3>分享您的模型...</h3>
			<div class="form-group">
                 <label for="model">模型文件*:(x3d)</label>
                 <input id="model" name="model" type="file" value="浏览" accept="model/x3d+xml" class="form-control" />
            </div>
            <div class="form-group">
                 <label for="preview">模型缩略图*:(jpg/png/gif)</label>
                 <input id="preview" name="preview" type="file" value="浏览" accept="image/png,image/gif,image/jpeg,image/pjpeg"	class="form-control"/>
            </div>
            <div class="form-group">
                 <label for="texture">贴图文件:(jpg/png/gif)</label>
                 <input id="texture" name="texture" type="file" value="浏览" accept="image/png,image/gif,image/jpeg,image/pjpeg" class="form-control"/>
                 <p>请确保模型的贴图文件位于texture/文件夹。</p>
            </div>			
			<button type="submit" class="btn btn-default" >上 传</button>
		</form>
		</div>
		<div class="row">
		<include file="Public:footer" />
		</div>
	</div>
	<script>
	$("#upload_form").validate({
  		 rules:{
  			 preview:{
  				required:true,
  				accept:"image/*"
  			 },
  			 texture:{
  				 accept:"image/*"
  			 },
  			 model:{
  				required:true,
  				 accept:"model/x3d*"
  			 }
  		 },
  		 messages:{
  			 preview:{
  				 accept:"缩略图文件格式不正确！"
  			 },
  			texture:{
 				 accept:"贴图文件格式不正确！"
 			 },
 			model:{
 				 accept:"模型文件格式不正确！"
 			 }
  		 }
  	 });
	</script>
</body>
</html>