<include file="Public:header" />
<script>
	function changeView() {
		var dou = ",";
		//头灯 开关
		var HL_checked = document.__getElementById("HL").checked;
		document.getElementById("head").setAttribute('headlight', HL_checked);
		//平行光 开
		var DL_checked = document.__getElementById("DL").checked;
		document.getElementById("directional").setAttribute('on', DL_checked);

		//视角 位置
		var vp_x = document.__getElementById("vp_x").value;
		var vp_y = document.__getElementById("vp_y").value;
		var vp_z = document.__getElementById("vp_z").value;
		var vp_position = vp_x.concat(dou, vp_y, dou, vp_z);
		document.getElementById("viewpoint").setAttribute('position',
				vp_position);
		//视角 方向			
		var vp_d_x = document.__getElementById("vp_d_x").value;
		var vp_d_y = document.__getElementById("vp_d_y").value;
		var vp_d_z = document.__getElementById("vp_d_z").value;
		var vp_d_a = document.__getElementById("vp_d_a").value;
		var vp_d_orientation = vp_d_x.concat(dou, vp_d_y, dou, vp_d_z, dou,
				vp_d_a);
		document.getElementById("viewpoint").setAttribute('orientation',
				vp_d_orientation);
	}
</script>
</head>

<body class="model_in">
	<input type='radio' name='model' id='modelcategory' checked="checked" />
	<input type='radio' name='model' id='myhide' />
	<div id='content'>
		<a id='slider' class='home' href='__ROOT__/'>返回首页</a> <label
			id='slider' class='modelcategory' for='modelcategory'>模型信息</label> <label
			id='slider' class='myhide' for='myhide'>收起侧栏</label>
	</div>
	<aside class="modelcategory margin_left">
	<div class="container-fluid" >
		<form id="modify_form" name="modify_form" action="__URL__/save" method="post"
			onkeydown="if(event.keyCode==13)return false;" role="form">
			<h3>基本信息</h3>
			<div class="form-group">
                 <label for="title">模型名称*：</label>
                 <input type="text" name="title" id="title" value="{$model.title}" class="form-control" />
            </div>
            <div class="form-group">
                 <label for="description">模型描述*：</label>
                 <textarea name="description" id="description" class="form-control">{$model.description}</textarea>
            </div>
            <div class="form-group">
                 <label for="category">模型分类*：（若无合适分类，<a target='_blank' href='__MODULE__/category/add'>点击添加</a>）</label>
                 <select name="category" id="category" class="form-control">
				<option value="0">请选择分类</option> {$category_option}
			</select> 
            </div>
			<input type="hidden" name="preview_ext" value="{$model.preview_ext}" />
			<input type="hidden" name="folder" value="{$model.folder}" /> 
			<input type="hidden" name="old_category" value="{$model.old_category}" /> 
			<input type="hidden" name="ip_last_modify" value="{$model.ip_last_modify}" />
			<div class="form-group">
                 <label for="creator">创作者：</label>
                 <input name="creator" type="text" id="creator" value="{$model.creator}" class="form-control" disabled />
            </div>
            <div class="form-group">
                 <label for="email">E-mail：</label>
                 <input name="email" type="email" id="email" value="{$model.email}" class="form-control" disabled />
            </div>
            		
			<h3>灯光信息（可选）</h3>
			<div class="checkbox">
			<label>
				<input name="hl_on" type="checkbox" onchange="changeView()" id="HL" value="1" {$model.hl_on_checked} />头顶灯光
			</label>
			<label>
				<input name="dl_on" type="checkbox" id="DL" value="1"	onchange="changeView()" {$model.dl_on_checked}/>平行光
			</label>
			</div>
			
			<h3>视角信息（可选）</h3>			
			<h6><strong>位置：（改变Z值可以拉近或远离模型）</strong></h6>
			<div class="form-group">
              <div class="input-group">
                   <label class="sr-only" for="vp_x">X</label>
                   <div class="input-group-addon">X</div>
                   <input name="vp_x" type="text" id="vp_x" value="{$model.vp_x}" onchange="changeView()" onkeyup="clearNoNum(this)" class="form-control" />
              </div>
            
              <div class="input-group">
                   <label class="sr-only" for="vp_x">Y</label>
                   <div class="input-group-addon">Y</div>
                   <input name="vp_y" type="text" id="vp_y" value="{$model.vp_y}" onchange="changeView()" onkeyup="clearNoNum(this)" class="form-control" />
              </div>
            
              <div class="input-group">
                   <label class="sr-only" for="vp_x">Z</label>
                   <div class="input-group-addon">Z</div>
                   <input name="vp_z" type="text" id="vp_z" value="{$model.vp_z}" onchange="changeView()" onkeyup="clearNoNum(this)" class="form-control" />
              </div>
            </div>

			<h6><strong>方向：</strong></h6>
			<div class="form-group">
			  <div class="input-group">
                   <label class="sr-only" for="vp_d_x">X</label>
                   <div class="input-group-addon">X</div>
                   <input name="vp_d_x" type="text" id="vp_d_x" value="{$model.vp_d_x}" onchange="changeView()" onkeyup="clearNoNum(this)" class="form-control" />
              </div>
              <div class="input-group">
                   <label class="sr-only" for="vp_d_y">Y</label>
                   <div class="input-group-addon">Y</div>
                   <input name="vp_d_y" type="text" id="vp_d_y" value="{$model.vp_d_y}" onchange="changeView()" onkeyup="clearNoNum(this)" class="form-control" />
              </div>
              <div class="input-group">
                   <label class="sr-only" for="vp_d_z">Z</label>
                   <div class="input-group-addon">Z</div>
                   <input name="vp_d_z" type="text" id="vp_d_z" value="{$model.vp_d_z}" onchange="changeView()" onkeyup="clearNoNum(this)" class="form-control" />
              </div>
              <div class="input-group">
                   <label class="sr-only" for="vp_d_a">A</label>
                   <div class="input-group-addon">A</div>
                   <input name="vp_d_a" type="text" id="vp_d_a" value="{$model.vp_d_a}" onchange="changeView()" onkeyup="clearNoNum(this)" class="form-control" />
              </div>			
			</div>
			<p class="text-warning">您的IP地址：{$model.ip_last_modify} 在保存后被记录。</p>
			<button type="submit" class="btn btn-primary">保存模型信息</button>
			<a disabled target="_blank" id="imagetexture" class="btn btn-default" href="__URL__/texture?t={$model.folder}&n=image" role="button">上传贴图</a>
			<a disabled target="_blank" id="movie" class="btn btn-default" href="__URL__/texture?t={$model.folder}&n=movie" role="button">上传视频</a>
			<a disabled target="_blank" id="audioclip" class="btn btn-default" href="__URL__/texture?t={$model.folder}&n=audio" role="button">上传音频</a>
		</form>
		<br/>
		<a href="__URL__/preview?f={$model.folder}"><img
			src="__BCS_UPLOAD__/{$model.folder}/preview.{$model.preview_ext}"
			width="280" height="200" title="点击修改模型缩略图" alt="点击修改模型缩略图" /></a>
	</div>
	</aside>

	<x3d id="model"> <scene dopickpass="true" pickmode="idBuf"
		bboxsize="-1,-1,-1" bboxcenter="0,0,0" render="true" def="scene">
	<Viewpoint id='viewpoint' description='Default Viewpoint'
		position='{$model.vp_position}' orientation='{$model.vp_orientation}'></Viewpoint>
	<navigationInfo id="head" headlight='{$model.hl_on}' type='"EXAMINE"'></navigationInfo>
	<directionalLight id="directional" direction='0 0 -1'
		on='{$model.dl_on}' intensity='1' shadowIntensity='0.0' color='0 0 0'></directionalLight>
	<background topurl="" righturl="" lefturl="" fronturl="" bottomurl=""
		backurl="" skyangle="" groundangle="" groundcolor=""
		transparency="1.0" skycolor="0 0 0"> </background> <Environment
		id="gamma" gammaCorrectionDefault="linear"></Environment> <Inline id="inline" nameSpaceName="s" mapDEFToID="true"
		url="__BCS_UPLOAD__/{$model.folder}/model.x3d"> </Inline> </scene> </x3d>
<x3d id='CoordinateAxes' showStat='false' showLog='false'> <scene
		id="helper_scene" dopickpass="false"> <viewpoint id="coordinateAxesViewpoint"
		centerOfRotation='0 0 0' position='0 0 3'></viewpoint> <Inline
		mapDEFToID="true" nameSpaceName="CoordinateAxes"
		url="__BCS_PUBLIC__/images/x3d/CoordinateAxes.x3d"></Inline> </scene> </x3d>
	<div class="x3dCover">	
	</div>
	<script>    
   	 $("#modify_form").validate({
   		 rules:{
   			 title:{
   				required:true,
   				maxlength:50
   			 },
   			 description:{
   				 required:true,
   				 maxlength:300,
   			     minlength:4
   			 },
   			 category:{
   				 required:true,
   				 min:0
   			 },
   			 creator:{
   				 maxlength:30
   			 },
   			 email:{
   				 email:true
   			 },
   			 vp_x:{
   				 required:true,
   				 number:true,
   				 maxlength:6
   			 },
   			vp_y:{
  				 required:true,
  				 number:true,
  				 maxlength:6
  			 },
  			vp_z:{
  				 required:true,
  				 number:true,
  				 maxlength:6
  			 },
  			vp_d_x:{
  				 required:true,
  				 number:true,
  				 maxlength:6
  			 },
  			vp_d_y:{
 				 required:true,
 				 number:true,
 				 maxlength:6
 			 },
 			vp_d_z:{
 				 required:true,
 				 number:true,
 				 maxlength:6
 			 },
 			vp_d_a:{
 				 required:true,
 				 number:true,
 				 maxlength:6
 			 }
   		 },
   		 messages:{
   			 title:{
   				 required:"标题是必须的！",
   				maxlength:"标题过长！"
   			 }
   		 }
   	 });
    x3dom.runtime.ready = function() {
    $("#inline").load(function(){
    	var imagetexture = $("inline").find("*").filter("imagetexture").is("[url]");
    	var movietexture = $("inline").find("*").filter("movietexture").is("[url]");
    	var audioclip = $("inline").find("*").filter("audioclip").is("[url]");
    	if(imagetexture)$('a#imagetexture').removeAttr("disabled");
    	if(movietexture)$('a#movie').removeAttr("disabled");
    	if(audioclip)$('a#audioclip').removeAttr("disabled");
    	rotate("viewpoint","CoordinateAxes__CoordinateAxes");
      });
    }
	</script>
<include file="Public:foot" />