<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type='text/javascript' src='__PUBLIC__/js/x3dom.js'></script>
<script type="text/javascript" src="__PUBLIC__/js/validate.js"></script>
<link rel='stylesheet' type='text/css' href='__PUBLIC__/css/x3dom.css' />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css" />
<title>上传模型预览</title>
<script>
	function change() {
		var dou = ",";
		//头灯 开关
		var HL_checked = document.__getElementById("HL").checked;
		document.getElementById("head").setAttribute('headlight', HL_checked);
		//平行光 开
		var DL_checked = document.__getElementById("DL").checked;
		document.getElementById("directional").setAttribute('on', DL_checked);

		//视角 位置
		var vp_x = document.__getElementById("vp_x").value;
		var vp_y = document.__getElementById("vp_y").value;
		var vp_z = document.__getElementById("vp_z").value;
		var vp_position = vp_x.concat(dou, vp_y, dou, vp_z);
		document.getElementById("viewpoint").setAttribute('position',
				vp_position);
		//视角 方向			
		var vp_d_x = document.__getElementById("vp_d_x").value;
		var vp_d_y = document.__getElementById("vp_d_y").value;
		var vp_d_z = document.__getElementById("vp_d_z").value;
		var vp_d_a = document.__getElementById("vp_d_a").value;
		var vp_d_orientation = vp_d_x.concat(dou, vp_d_y, dou, vp_d_z, dou,
				vp_d_a);
		document.getElementById("viewpoint").setAttribute('orientation',
				vp_d_orientation);
	}
	function clearNoNum(obj) {
		obj.value = obj.value.replace(/[^\d.]/g, ""); //清除“数字”和“.”以外的字符  

		obj.value = obj.value.replace(/^\./g, ""); //验证第一个字符是数字而不是. 

		obj.value = obj.value.replace(/\.{2,}/g, "."); //只保留第一个. 清除多余的.   

		obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace(
				"$#$", ".");
	}
</script>
</head>

<body class="model_in">
	<input type='radio' name='model' id='modelcategory' checked="checked" />
	<input type='radio' name='model' id='hide' />
	<div id='content'>
		<a id='slider' class='home' href='__ROOT__/'>返回首页</a> <label
			id='slider' class='modelcategory' for='modelcategory'>模型信息</label> <label
			id='slider' class='hide' for='hide'>收起侧栏</label>
	</div>
	<aside class="modelcategory margin_left">
	<div class="InfoContainer">
		<form id="form" name="modify_form" action="__URL__/save" method="post"
			onkeydown="if(event.keyCode==13)return false;" class="shortform">
			<h1>基本信息</h1>
			<h2>模型名称*：</h2>
			<input type="text" name="title" id="title" value="{$model.title}"
				class="formclass-input" />
			<h2>模型描述*：</h2>
			<textarea name="description" id="description" cols="32" rows="5">{$model.description}</textarea>
			<h2>
				模型分类*：（若无合适分类，<a target='_blank' href='__MODULE__/category/add'>点击添加</a>）
			</h2>
			<select name="category" id="category">
				<option value="0">请选择分类</option> {$category_option}
			</select> <input type="hidden" name="preview_ext" value="{$model.preview_ext}" />
			<input type="hidden" name="folder" value="{$model.folder}" /> <input
				type="hidden" name="ip_last_modify" value="{$model.ip_last_modify}" />
			<h2>创作者：</h2>
			<input name="creator" type="text" id="creator" size="10"
				value="{$model.creator}" class="formclass-input" />
			<h2>E-mail：</h2>
			<input name="email" type="text" id="email" size="20"
				value="{$model.email}" class="formclass-input" />
			<h1>灯光信息（可选）</h1>
			<h2>
				头顶灯光：开启:<input name="hl_on" type="checkbox" onchange="change()"
					id="HL" value="1" {$model.hl_on_checked} />
			</h2>

			<h2>
				平行光： 开启 <input name="dl_on" type="checkbox" id="DL" value="1"
					onchange="change()" {$model.dl_on_checked}/>
			</h2>
			<h1>视角信息（可选）</h1>
			<h2>位置：（改变Z值可以拉近或远离模型）</h2>
			X <input name="vp_x" type="text" id="vp_x" value="{$model.vp_x}"
				size="3" onchange="change()" onkeyup="clearNoNum(this)" /> Y <input
				name="vp_y" type="text" id="vp_y" value="{$model.vp_y}" size="3"
				onchange="change()" onkeyup="clearNoNum(this)" /> Z <input
				name="vp_z" type="text" id="vp_z" value="{$model.vp_z}" size="3"
				onchange="change()" onkeyup="clearNoNum(this)" />
			<h2>方向：</h2>
			X <input name="vp_d_x" type="text" id="vp_d_x"
				value="{$model.vp_d_x}" size="3" onchange="change()"
				onkeyup="clearNoNum(this)" /> Y <input name="vp_d_y" type="text"
				id="vp_d_y" value="{$model.vp_d_y}" size="3" onchange="change()"
				onkeyup="clearNoNum(this)" /> Z <input name="vp_d_z" type="text"
				id="vp_d_z" value="{$model.vp_d_z}" size="3" onchange="change()"
				onkeyup="clearNoNum(this)" /> A <input name="vp_d_a" type="text"
				id="vp_d_a" value="{$model.vp_d_a}" size="3" onchange="change()"
				onkeyup="clearNoNum(this)" />
			<h2>您的IP地址：{$model.ip_last_modify} 在保存后被记录。</h2>
			<input type="submit" name="baocun" id="baocun" value="保存模型信息"
				class="formclass-submit shortsubmit" />
				<h2 id="error"></h2>
		</form>
		<img
			src="__PUBLIC__/upload/{$model.folder}/preview.{$model.preview_ext}"
			width="280" height="200" title="模型缩略图" alt="模型缩略图" />
	</div>
	</aside>

	<x3d id="model"> <scene dopickpass="true" pickmode="idBuf"
		bboxsize="-1,-1,-1" bboxcenter="0,0,0" render="true" def="scene">
	<Viewpoint id='viewpoint' description='Default Viewpoint'
		position='{$model.vp_position}' orientation='{$model.vp_orientation}'></Viewpoint>
	<navigationInfo id="head" headlight='{$model.hl_on}' type='"EXAMINE"'></navigationInfo>
	<directionalLight id="directional" direction='0 0 -1'
		on='{$model.dl_on}' intensity='1' shadowIntensity='0.0' color='0 0 0'></directionalLight>
	<background topurl="" righturl="" lefturl="" fronturl="" bottomurl=""
		backurl="" skyangle="" groundangle="" groundcolor=""
		transparency="1.0" skycolor="0 0 0"> </background> <Environment
		id="gamma" gammaCorrectionDefault="linear"></Environment> <Inline
		nameSpaceName="s" mapDEFToID="true"
		url="__PUBLIC__/upload/{$model.folder}/model.x3d"> </Inline> </scene> </x3d>

	<script>
		var validator = new FormValidator(
				'modify_form',
				[ {
					name : 'title',
					display : '模型名称',
					rules : 'required|max_length[50]'
				}, {
					name : 'description',
					display : '模型描述',
					rules : 'required|max_length[300]'
				}, {
					name : 'category',
					display : '模型分类未选择',
					rules : 'greater_than[0]'
				}, {
					name : 'creator',
					display : '创作者',
					rules : 'max_length[30]'
				}, {
					name : 'email',
					display : '邮箱地址',
					rules : 'valid_email'
				}, {
					name : 'vp_x',
					display : '位置x',
					rules : 'decimal|max_length[6]'	
				}, {
					name : 'vp_y',
					display : '位置y',
					rules : 'decimal|max_length[6]'
				}, {
					name : 'vp_z',
					display : '位置z',
					rules : 'decimal|max_length[6]'
				}, {
					name : 'vp_d_x',
					display : '方向x',
					rules : 'decimal|max_length[6]'
				}, {
					name : 'vp_d_y',
					display : '方向y',
					rules : 'decimal|max_length[6]'
				}, {
					name : 'vp_d_z',
					display : '方向z',
					rules : 'decimal|max_length[6]'
				}, {
					name : 'vp_d_a',
					display : '方向a',
					rules : 'decimal|max_length[6]'
				} ],
				function(errors, evt) {
					if (errors.length > 0) {
						var errorString = '';

						for (var i = 0, errorLength = errors.length; i < errorLength; i++) {
							errorString += errors[i].message + '<br />';
						}
						document.getElementById("error").innerHTML = errorString;
						if (evt && evt.preventDefault) {
							evt.preventDefault();
						} else if (event) {
							event.returnValue = false;
						}
					}
				});
	</script>
</body>
</html>