<include file="Public:header" />
<script type='text/javascript' src='__BCS_PUBLIC__/js/additional-methods.min.js'></script>
</head>
<body>
	<input type='radio' name='model' id='modelcategory' />
	<input type='radio' name='model' id='myhide' />
	<div id='content'>
		<label id='slider' class='modelcategory' for='modelcategory'><span class="glyphicon glyphicon-list" aria-hidden="true"></span></label>
		<label id='slider' class='myhide' for='myhide'><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></label>
	</div>
	<aside class="modelcategory">
		<include file="Public:moreModel" />
	</aside>
	<include file="Public:logo" />
	<div class="container-fluid">		
		<div class="row">
		<form name="texture_form" id="texture_form" method="post" action="__URL__/movieSave?t={$model.folder}" class="formclass" enctype="multipart/form-data">
		<h3>添加/更换视频文件</h3>
		<div class="form-group">
		<label for="texture_exist">已上传的贴图/视频/音频文件：</label>
		<select multiple class="form-control">
		<foreach name="textureList" item="vo" >
		<switch name="key" >
		<case value="0"></case>
		<case value="1"></case>
		<default /><option>"texture/{$vo}"</option>
		</switch>		
		</foreach>
		</select>		
		</div>
		<div class="form-group">
		<label for="texture_exist">模型中使用的视频文件：(点击选择要上传的视频文件)</label>
		<select name="texture_exist" multiple class="form-control" id="used">		
		</select>		
		</div>
		<div class="form-group">
		<label for="texture">上传视频文件：（mp4/ogv 小于3M）已上传同名视频文件将被覆盖</label>
		<input name="texture" id="texture" type="file" value="浏览" accept="video/mp4,video/ogg" class="form-control"/>
		
		</div>
		<button disabled type="submit" class="btn btn-default">上传贴图</button>
		<input type="hidden" name="MAX_FILE_SIZE" value="1048576" />
		<input type="hidden" id="texture_num" name="texture_num" value="0" />
		<div class="form-group">	
		<div class='item'>
					<x3d id='canvas'> <scene dopickpass="true" pickmode="idBuf"
						bboxsize="-1,-1,-1" bboxcenter="0,0,0" render="true" def="scene">
					<navigationInfo id="head" headlight='{$model.hl_on}'
						type='"EXAMINE"'></navigationInfo> <directionalLight
						id="directional" on="{$model.dl_on}"></directionalLight> <Viewpoint
						id='viewpoint' description='Default Viewpoint'
						position='{$model.vp_position}'
						orientation='{$model.vp_orientation}'></Viewpoint> 
						<background
		topurl="__BCS_PUBLIC__/images/background/horizon_0_top.jpg"
		righturl="__BCS_PUBLIC__/images/background/horizon_0_right.jpg"
		lefturl="__BCS_PUBLIC__/images/background/horizon_0_left.jpg"
		fronturl="__BCS_PUBLIC__/images/background/horizon_0_front.jpg"
		bottomurl="__BCS_PUBLIC__/images/background/horizon_0_bottom.jpg"
		backurl="__BCS_PUBLIC__/images/background/horizon_0_back.jpg"
		skyangle="1.57" groundangle="1.57" groundcolor="1,0,0" transparency="1.0"
		skycolor="0,0,0"> </background>
					<Environment id="gamma" gammaCorrectionDefault="linear"></Environment>
					<Inline nameSpaceName="s" mapDEFToID="true" id="inline"
						url="__BCS_UPLOAD__/{$model.folder}/model.x3d"> </Inline> </scene> </x3d>					
				</div>
				<h4 class="text-center"><a style="color: white" href="__CONTROLLER__/modify?f={$model.folder}">{$model.title}模型</a></h4>				
		</div>
		</form>	
		</div>
	</div>
	<include file="Public:footer" />
	<script>
	$("#texture_form").validate({
  		 rules:{
  			 texture:{
  				 required:true,
  				accept:"video/*"
  			 },
  			 texture_exist:{
  				 required:true,
  			 }
  		 },
  		 messages:{
  			 texture:{
  				 accept:"视频文件格式不正确！"
  			 },
  			 texture_exist:{
  				 required:"必须选择要上传的视频文件！"
  			 }
  		 }
  	 });
		x3dom.runtime.ready = function() {
			var e = document.getElementById("canvas");
			var str="";
			var i=0;
			$("#inline").load(function(){
				e.runtime.showAll();
				$("inline").find("*").filter("movietexture,imagetexture,audioclip").filter("[url]").each(function(){
					str=str+"<option value="+$(this).attr("url")+">"+$(this).attr("url")+"</option>";
					i+=1;
				});
				$("select#used").html(str);
				$("button").removeAttr("disabled");
				$("input#texture_num").attr("value",i);
			});
		};		
	</script>
<include file="Public:foot" />